.header {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* .text-overlay {
  position: absolute;
  top: 107px;
  left: 50px;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 300;
  color: black;
  backdrop-filter: blur(14px) brightness(80%);
} */
.plant{
height: 190px;
  width: 140px;
  position: absolute;
  top: 170px;
  left: 250px;
}
.text-overlay{
  /* height: 20px; */
    /* font-size: 80px; */
    font-family: 'Playfair Display', serif;
}